#markdown:before {
    content: "目录";
    font-weight: bold;
}

ul#markdown-toc {
    color: #000;
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    /* font-weight: bold; */
    /* font-size: large; */
    /* position: fixed;
    padding: 0px;
    bottom: 200px;
    border-radius: 0.3em; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;
    background-color: white; */
}

ul#markdown-toc>li>a {
    color: #000;
    font-weight: bold;
}

/* ul#markdown-toc >li>ui>li>a {
    color: #000; 
    font-size: medium;
} */

#markdown-toc a[href^="#"] {
    color: #000;
}

button.light {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button.light:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button.light:active {
    box-shadow: none;
}

.academia.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    /*max-width: 100%;*/
    border-top: 2.27px solid black;
    border-bottom: 2.27px solid black;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.academia.table th,
.academia.table td {
    border: 0 none !important;
    padding: 0.51rem !important;
    line-height: 1.1 !important;
}

.academia.table>tbody>tr:first-child>td,
.academia.table>tbody>tr:first-child>th {
    border-top: 1.36px solid black !important;
}

.academia.table>tbody>tr:last-child>td,
.academia.table>tbody>tr:last-child>th {
    border-bottom: 1.36px solid black !important;
}

.academia.table thead th {
    background-color: white !important;
    font-weight: 700;
    padding: 8px 9px 5px 9px;
    text-align: center !important;
    vertical-align: middle !important;
}

.academia.table tr:nth-child(even) {
    background-color: #E3E3E3 !important;
}

.academia.table tbody tr:hover td {
    background-color: #f5f1da !important;
}

button#all {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

button#all:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button#all:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button#all span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

button#all svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

button#all .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
    transform: rotate(45deg);
}

.skillSection {
    width: 100%;
    height: 350px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

@media (max-width: 429px) {
    .skillSection>.use {
        margin-top: 70% !important;
    }

    .skillSection>.use>button {
        font-size: 0.5em !important;
    }

    .skillSection>.use>.using {
        font-size: 1em !important;
    }
}

.skillSection > .use {
    z-index: 1;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 30%;
}

.skillSection > .use > .using {
    font-size: 2em;
    font-weight: bold;
    margin: 0pt 25pt;
}

.skillSection > .use > button {
    font-size: 1em;
    font-weight: bold;
    margin: 0pt 25pt;
    background-color: transparent;
    border: none;
}

.skillSection::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.skillSection::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

.skill {
    z-index: 1;
    width: 100px !important;
    height: 100px !important;
    background-color: transparent;
    /* margin: 10px; */
    border-radius: 10px;
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12); */
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.skillIcon {
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.skillIcon svg {
    fill: white;
}

.skill .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    /* margin-top: 20px; */
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}


.skill:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10%;
}

.skillContainer div {
    flex: 1;
    padding: 10px;
}