#markdown:before {
    content: "目录";
    font-weight: bold;
}

ul#markdown-toc {
    color: #000;
    list-style: none;
    padding-left: 0;
    text-align: left;
    margin: 0 auto;
    /* font-weight: bold; */
    /* font-size: large; */
    /* position: fixed;
    padding: 0px;
    bottom: 200px;
    border-radius: 0.3em; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-sizing: border-box;
    border: #fff 0.5em solid;
    background-color: white; */
}

ul#markdown-toc>li>a {
    color: #000;
    font-weight: bold;
}

/* ul#markdown-toc >li>ui>li>a {
    color: #000; 
    font-size: medium;
} */

#markdown-toc a[href^="#"] {
    color: #000;
}

button.light {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button.light:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button.light:active {
    box-shadow: none;
}

.academia.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    /*max-width: 100%;*/
    border-top: 2.27px solid black;
    border-bottom: 2.27px solid black;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.academia.table th,
.academia.table td {
    border: 0 none !important;
    padding: 0.51rem !important;
    line-height: 1.1 !important;
}

.academia.table>tbody>tr:first-child>td,
.academia.table>tbody>tr:first-child>th {
    border-top: 1.36px solid black !important;
}

.academia.table>tbody>tr:last-child>td,
.academia.table>tbody>tr:last-child>th {
    border-bottom: 1.36px solid black !important;
}

.academia.table thead th {
    background-color: white !important;
    font-weight: 700;
    padding: 8px 9px 5px 9px;
    text-align: center !important;
    vertical-align: middle !important;
}

.academia.table tr:nth-child(even) {
    background-color: #E3E3E3 !important;
}

.academia.table tbody tr:hover td {
    background-color: #f5f1da !important;
}

button#all {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

button#all:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button#all:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button#all span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

button#all svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

button#all .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
    transform: rotate(45deg);
}