---
layout: page
title: "专栏 | Topical Hub"
description: "「聚沙成塔丨积羽沉舟」"
header-img: "img/use/topical_hub.jpg"
header-mask: 0.3
---
<blockquote>
    <p>本栏目对部分过往文章按主题进行了重新梳理</p>

    <p>【点击对应栏目跳转】</p>
</blockquote>

<!-- 日历图 -->
<div style="border-collapse: separate;">
    {% include calendar.html %}
</div>

<!-- 横线 -->
<p width=window.innerWidth style="border-top: 6px solid #3879B1;border-radius: 6px; margin-bottom: 6px;"></p>

<!-- 按钮 -->
<div style="display: flex; margin-top:16px; margin-bottom: 30px; justify-content:center; white-space: normal;">
    <button id='Virtualization' class='light' style="margin-right: 20px;">
        <!-- <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"> -->
        <!-- <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon> -->
        <!-- </svg>  -->
        <ion-icon name="desktop-outline" size="large"></ion-icon>
        可视化<br>
        Virtualization
    </button>
    <button id='DigitalIntelligenceMarketing' class='light'>
        <ion-icon name="pulse-outline" size="large"></ion-icon>
        数智化营销<br>
        Digital Intelligence Marketing
    </button>
</div>
<div style="display: flex; margin-top:16px; margin-bottom: 30px; justify-content:center; white-space: normal;">
    <button id='Methods' class='light' style="margin-right: 20px;">
        <ion-icon name="library-outline" size="large"></ion-icon>
        研究方法<br>
        Research Method
    </button>
    <button id="Tools" class='light'>
        <ion-icon name="construct-outline" size="large"></ion-icon>
        日常工具<br>
        Toolbox
    </button>
</div>

<div id="Virtualization_content" class="topics">
    {% capture topical_Virtualization %}{% include topical/Virtualization.md %}{% endcapture %}
    {{ topical_Virtualization | markdownify }}
</div>

<div id="DigitalIntelligenceMarketing_content" class="topics">
    {% capture topical_DigitalIntelligenceMarketing %}{% include topical/DigitalIntelligenceMarketing.md %}{% endcapture
    %}
    {{ topical_DigitalIntelligenceMarketing | markdownify }}
</div>

<div id="Methods_content" class="topics">
    {% capture topical_Methods %}{% include topical/Methods.md %}{% endcapture %}
    {{ topical_Methods | markdownify }}
</div>

<div id="Tools_content" class="topics">
    {% capture topical_Tools %}{% include topical/Tools.md %}{% endcapture %}
    {{ topical_Tools | markdownify }}
</div>

<script>
    var choices = document.getElementsByClassName("topics");
    console.log(choices.length)
    for (var i = 0; i < choices.length; i++) {
        choices[i].style.display = 'none';
    }
    var choice = '';
    document.getElementById("Virtualization").addEventListener("click", function () {
        if (choice != false) {
            choice.style.display = "none";
        }
        choice = document.getElementById("Virtualization_content");
        choice.style.display = "block";
    });
    document.getElementById("DigitalIntelligenceMarketing").addEventListener("click", function () {
        if (choice != false) {
            choice.style.display = "none";
        }
        choice = document.getElementById("DigitalIntelligenceMarketing_content");
        choice.style.display = "block";
    });
    document.getElementById("Methods").addEventListener("click", function () {
        if (choice != false) {
            choice.style.display = "none";
        }
        choice = document.getElementById("Methods_content");
        choice.style.display = "block";
    });
    document.getElementById("Tools").addEventListener("click", function () {
        if (choice != false) {
            choice.style.display = "none";
        }
        choice = document.getElementById("Tools_content");
        choice.style.display = "block";
    });
</script>

<!-- 安装图标库 -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>