---
layout: page
title: "项目 | Project"
description: "「蜗牛正在慢.慢.慢.慢...爬」"
header-img: "img/use/pj-bg.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture project_zh %}{% include project/zh.md %}{% endcapture %}
    {{ project_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture project_en %}{% include project/en.md %}{% endcapture %}
    {{ project_en | markdownify }}
</div>
