---
layout: page
title: "工作流 | Workflow"
description: "「君子生非异也，善假于物也」"
header-img: "img/use/workflow-bg.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture workflow_zh %}{% include workflow/zh.md %}{% endcapture %}
    {{ workflow_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture workflow_en %}{% include workflow/en.md %}{% endcapture %}
    {{ workflow_en | markdownify }}
</div>